.hero-session {
    width: 100%;
    height: 80vh;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
}

.hero-session::before {
    content: "";
    background-image: url("https://images.unsplash.com/photo-1544256718-3bcf237f3974?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZ3JhbWluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.hero-session h1 {
    font-size: 2.5rem;
    padding: 0.5rem;
}

.hero-session p {
    font-size: 1.5rem;
}
.heading {
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 850px) {
    .hero-session h1 {
        font-size: 2.5rem;
    }

    .hero-session p {
        font-size: 1.5rem;
    }
}