@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "outfit", sans-serif;
}
body {
  background: #000;
}

h1, a, p, h2, h3, h4 {
  color: white;
}

ul {
  list-style-type: none;
}

